.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 120px 60px;
  background-color: var(--secondary-bg);
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 50px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper {
  display: grid;
  gap: 10px;
}

.title-wrapper h2 {
  font-family: var(--font-family-primary);
  font-size: 30px;
  line-height: var(--typography-s-heading-h2-line-height);
  font-weight: 700;
  color: var(--content-primary);
}

.title-wrapper p {
  font-family: var(--font-family-primary);
  font-size: var(--typography-m-paragraph-medium-font-size);
  line-height: var(--typography-m-paragraph-medium-line-height);
  font-weight: 700;
  color: var(--content-secondary);
}

.columns-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
